<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Cafeteria Demo</title>
</head>
<body>
    <section>
        <header>
            <a href="#"><img src="{% static 'img/logo.png' %}" class="logo" alt=""></a>
            <div onclick="toggleMenu()" class="toggle"></div>
            <ul class="navigation">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="#">What's New</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>
        {% block content %}{% endblock content %}
    </section>
    <script>
        function toggleMenu() {
            var menuToggle = document.querySelector('.toggle');
            var navigation = document.querySelector('.navigation');
            navigation.classList.toggle('active')
            menuToggle.classList.toggle('active')
        }
    </script>
</body>
</html>